In [2]:
import numpy as np
import pandas as pd

In [461]:
train = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/cafeteria/train.csv')
test = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/cafeteria/test.csv')

In [62]:
train.count()

일자                1205
요일                1205
본사정원수             1205
본사휴가자수            1205
본사출장자수            1205
본사시간외근무명령서승인건수    1205
현본사소속재택근무자수       1205
조식메뉴              1205
중식메뉴              1205
석식메뉴              1205
중식계               1205
석식계               1205
dtype: int64

In [61]:
test.count()

일자                50
요일                50
본사정원수             50
본사휴가자수            50
본사출장자수            50
본사시간외근무명령서승인건수    50
현본사소속재택근무자수       50
조식메뉴              50
중식메뉴              50
석식메뉴              50
dtype: int64

In [462]:
all_data = pd.concat([train, test], sort=False)
all_data = train

In [463]:
all_data['year'] = pd.to_numeric(all_data['일자'].str[:4])
all_data['month'] = pd.to_numeric(all_data['일자'].str[5:7])
all_data['day'] = pd.to_numeric(all_data['일자'].str[8:10])


weeks = ['월', '화', '수', '목', '금']
for i in range(0, 5):
  all_data.loc[all_data['요일'] == weeks[i], 'wDay'] = i+1

In [464]:
all_data = all_data.drop('일자', axis=1)
all_data = all_data.drop('요일', axis=1)

all_data.head()

   본사정원수  본사휴가자수  본사출장자수  본사시간외근무명령서승인건수  ...  year month day wDay
0   2601      50     150             238  ...  2016     2   1  1.0
1   2601      50     173             319  ...  2016     2   2  2.0
2   2601      56     180             111  ...  2016     2   3  3.0
3   2601     104     220             355  ...  2016     2   4  4.0
4   2601     278     181              34  ...  2016     2   5  5.0

[5 rows x 14 columns]

In [465]:
all_data['left_members_at_lunch'] = all_data['본사정원수'] - all_data['본사휴가자수'] - all_data['본사출장자수'] - all_data['현본사소속재택근무자수']
all_data['left_members_at_dinner'] = all_data['본사시간외근무명령서승인건수']

In [466]:
all_data = all_data.drop('본사정원수', axis=1)
all_data = all_data.drop('본사휴가자수', axis=1)
all_data = all_data.drop('본사출장자수', axis=1)
all_data = all_data.drop('본사시간외근무명령서승인건수', axis=1)
all_data = all_data.drop('현본사소속재택근무자수', axis=1)

all_data.head()

                                                조식메뉴  ... left_members_at_dinner
0  모닝롤/찐빵  우유/두유/주스 계란후라이  호두죽/쌀밥 (쌀:국내산) 된장찌개  쥐...  ...                    238
1  모닝롤/단호박샌드  우유/두유/주스 계란후라이  팥죽/쌀밥 (쌀:국내산) 호박젓국찌...  ...                    319
2  모닝롤/베이글  우유/두유/주스 계란후라이  표고버섯죽/쌀밥 (쌀:국내산) 콩나물국...  ...                    111
3  모닝롤/토마토샌드  우유/두유/주스 계란후라이  닭죽/쌀밥 (쌀,닭:국내산) 근대국...  ...                    355
4  모닝롤/와플  우유/두유/주스 계란후라이  쇠고기죽/쌀밥 (쌀:국내산) 재첩국  방...  ...                     34

[5 rows x 11 columns]

In [470]:
arr = ['조식메뉴', '중식메뉴', '석식메뉴']

for j in arr:
  for i in range(0, len(all_data[j])):
    all_data[j][i] = all_data[j][i].replace('  ', ' ')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [471]:
all_data.describe()

               중식계          석식계  ...  left_members_at_lunch  left_members_at_dinner
count  1205.000000  1205.000000  ...            1205.000000             1205.000000
mean    890.334440   461.772614  ...            2365.253112              274.117012
std     209.505057   139.179202  ...             176.563062              246.239651
min     296.000000     0.000000  ...            1372.000000                0.000000
25%     758.000000   406.000000  ...            2281.000000                4.000000
50%     879.000000   483.000000  ...            2357.000000              299.000000
75%    1032.000000   545.000000  ...            2461.000000              452.000000
max    1459.000000   905.000000  ...            2921.000000             1044.000000

[8 rows x 8 columns]

In [472]:
#all_data['left_members_at_dinner'] = round(np.log1p(all_data['left_members_at_dinner']))
all_data = all_data.loc[(all_data['석식계'] > 0)]
all_data = all_data.loc[(all_data['left_members_at_dinner'] > 0)]
all_data.describe()

               중식계         석식계  ...  left_members_at_lunch  left_members_at_dinner
count   980.000000  980.000000  ...             980.000000              980.000000
mean    897.104082  489.146939  ...            2361.776531              336.943878
std     219.105176  108.567913  ...             181.981299              231.095375
min     296.000000  104.000000  ...            1372.000000                1.000000
25%     746.750000  432.750000  ...            2274.000000               80.750000
50%     880.000000  500.000000  ...            2355.000000              364.000000
75%    1059.500000  557.000000  ...            2463.250000              491.000000
max    1459.000000  902.000000  ...            2921.000000             1044.000000

[8 rows x 8 columns]

In [473]:
#all_data.loc[all_data['석식계'] == 0, '석식계'] = 1
#all_data.loc[all_data['left_members_at_dinner'] == 0, 'left_members_at_dinner'] = 1


all_data['dinner_rates'] = all_data['석식계'] / all_data['left_members_at_dinner']
all_data['lunch_rates'] = all_data['중식계'] / all_data['left_members_at_lunch']

all_data.describe()

               중식계         석식계  ...  dinner_rates  lunch_rates
count   980.000000  980.000000  ...    980.000000   980.000000
mean    897.104082  489.146939  ...     25.630427     0.379756
std     219.105176  108.567913  ...     79.018124     0.088640
min     296.000000  104.000000  ...      0.445434     0.143649
25%     746.750000  432.750000  ...      1.045140     0.315576
50%     880.000000  500.000000  ...      1.424072     0.375378
75%    1059.500000  557.000000  ...      5.321327     0.442144
max    1459.000000  902.000000  ...    526.000000     0.597203

[8 rows x 10 columns]

In [477]:
min = all_data['lunch_rates'].min()
max = all_data['lunch_rates'].max()
all_data['lunch_rates'] = (9 * (all_data['lunch_rates'] - min) / (max - min)) + 1

min = all_data['dinner_rates'].min()
max = all_data['dinner_rates'].max()
all_data['dinner_rates'] = (9 * (all_data['dinner_rates'] - min) / (max - min)) + 1


#all_data = all_data.reset_index()
all_data.describe()

          level_0        index  ...  dinner_rates  lunch_rates
count  980.000000   980.000000  ...    980.000000   980.000000
mean   489.500000   606.912245  ...      1.431287     5.685141
std    283.045933   352.994756  ...      1.353167     1.758899
min      0.000000     0.000000  ...      1.000000     1.000000
25%    244.750000   299.750000  ...      1.010270     4.411596
50%    489.500000   607.500000  ...      1.016759     5.598262
75%    734.250000   916.500000  ...      1.083499     6.923122
max    979.000000  1204.000000  ...     10.000000    10.000000

[8 rows x 12 columns]

In [480]:
meals = ['중식메뉴']#, '석식메뉴', '조식메뉴']
dump1 = []

for i in meals:
  for j in range(0, len(all_data)):
    tmp = all_data[i][j].split(' ')
    for k in tmp:
      if k == ' ' or k == '':
        continue
      dump1.append(k)

print(len(dump1))
mySet = list(set(dump1))
mySet2 = set()
print(len(mySet))

drop_list = ['수입산', '국내산', '중국산', '호주산', '밥', '김치', '깍두기']
drop_count = 0

for i in mySet:
  should_drop = False

  if i.startswith('(') and i.endswith(')'):
    should_drop = True

  for j in drop_list:
    if j in i:
     should_drop = True


  if should_drop == False:
    mySet2.add(i)

print(len(mySet2))
mySet2 = list(mySet2)

8019
1555
1339

In [481]:
menu = [[0 for col in range(len(mySet2))] for row in range(4)]
#for i in range(0, len(mySet2)):
menu[0] = list(mySet2)
len(menu[0])

1339

In [483]:
meals = ['중식메뉴']#, '석식메뉴', '조식메뉴']

for i in meals:
  for j in range(0, len(all_data[i])):
    tmp = all_data[i][j].split(' ')
    for k in tmp:
      if k == '':
        continue

      #print(k)
      for l in range(0, len(menu[0])):
        if menu[0][l] == '':
          continue
        #if menu[0][l].startswith('(') and menu[0][l].endswith(')'):
        #  continue

        #print(menu[0][l]+' @ '+k+'\r\n')
        if k == menu[0][l]:
          menu[1][l] += all_data['lunch_rates'][j]
          menu[2][l] += 1
          break

#menu[1]

In [493]:
for i in range(0, len(menu[3])):
  if menu[2][i] == 0:
    print(menu[0][i]+' '+(str)(menu[1][i])+' '+(str)(menu[2][i])+' '+(str)(menu[3][i]))
  else:
    menu[3][i] = menu[1][i] / menu[2][i]

for i in range(0, len(menu[3])):
  if menu[3][i] == 0:
    print(menu[0][i]+' '+(str)(menu[1][i])+' '+(str)(menu[2][i])+' '+(str)(menu[3][i]))

In [500]:
all_data['predict_lunch_rate'] = 0

for i in range(0, len(all_data['중식메뉴'])):
  rates = 0
  count = 0

  meals = all_data['중식메뉴'][i]
  arr = meals.split(' ')
  for j in arr:
    for k in range(0, len(menu[0])):
      if j == menu[0][k]:
        #print(j+' '+menu[0][k]+' '+(str)(menu[3][k]))
        rates += menu[3][k]
        count += 1
        #continue

  if count > 0 :
    all_data['predict_lunch_rate'][i] = rates / count
  else:
    print(all_data['중식메뉴'][i]+' '+(str)(rates))

#all_data.head(20)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [501]:
for i in range(0, len(all_data['predict_lunch_rate'])):
  if all_data['predict_lunch_rate'][i] == 0:
    print(all_data['중식메뉴'][i])

In [502]:
all_data.corr()

                         level_0     index  ...  lunch_rates  predict_lunch_rate
level_0                 1.000000  0.999944  ...    -0.165183            0.107395
index                   0.999944  1.000000  ...    -0.167272            0.104480
중식계                    -0.062736 -0.063963  ...     0.955050            0.603581
석식계                    -0.254739 -0.254356  ...     0.590218            0.306566
year                    0.980013  0.980078  ...    -0.131137            0.111096
month                   0.135455  0.135127  ...    -0.169343           -0.014976
day                    -0.020971 -0.021120  ...    -0.088731           -0.025857
wDay                   -0.058005 -0.057685  ...    -0.697905           -0.481226
left_members_at_lunch   0.323793  0.326376  ...     0.012686           -0.014103
left_members_at_dinner  0.215559  0.215402  ...     0.527290            0.417539
dinner_rates            0.265238  0.265323  ...    -0.277070           -0.230388
lunch_rates            -0.165183 -0.167272  ...     1.000000            0.638442
predict_lunch_rate      0.107395  0.104480  ...     0.638442            1.000000

[13 rows x 13 columns]

In [503]:
nTrain = len(train)
train = all_data[:nTrain]
test = all_data[nTrain:]

In [504]:
train.columns

Index(['level_0', 'index', '조식메뉴', '중식메뉴', '석식메뉴', '중식계', '석식계', 'year',
       'month', 'day', 'wDay', 'left_members_at_lunch',
       'left_members_at_dinner', 'dinner_rates', 'lunch_rates',
       'predict_lunch_rate'],
      dtype='object')

In [404]:
x_col = ['year', 'month', 'wDay', 'left_members_at_lunch', 'left_members_at_dinner']
y_col = ['중식계', '석식계']

In [405]:
x_train = train[x_col]
y_train = train[y_col]

x_test = test[x_col]

x_train.describe()

              year        month  ...  left_members_at_lunch  left_members_at_dinner
count  1205.000000  1205.000000  ...            1205.000000             1205.000000
mean   2018.052282     6.512033  ...            2365.253112              274.117012
std       1.433958     3.453906  ...             176.563062              246.239651
min    2016.000000     1.000000  ...            1372.000000                0.000000
25%    2017.000000     4.000000  ...            2281.000000                4.000000
50%    2018.000000     7.000000  ...            2357.000000              299.000000
75%    2019.000000     9.000000  ...            2461.000000              452.000000
max    2021.000000    12.000000  ...            2921.000000             1044.000000

[8 rows x 6 columns]

In [388]:
from xgboost import XGBRegressor
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from sklearn.linear_model import LinearRegression, LogisticRegression

from sklearn.tree import DecisionTreeClassifier

from sklearn.metrics import mean_squared_error

In [409]:
xgb = XGBRegressor(random_state=37)
gbr = GradientBoostingRegressor(random_state=37)
rfr = RandomForestRegressor(random_state=37)
lr = LinearRegression()
lgr = LogisticRegression(random_state=37)
dtc = DecisionTreeClassifier(random_state=37)


#models = [gbr, rfr, lr]
#names = ['gradientBossting', 'randomForest', 'linearRegression']

models = [rfr, lr]
names = ['randomForest', 'linearRegression']


for m, n in zip(models, names):
  m.fit(x_train, y_train)
  pred = m.predict(x_test)

  leng = len(y_train)
  if leng > len(pred):
    leng = len(pred)

  print(n+" : "+(str)(mean_squared_error(y_train[:leng], pred[:leng], squared=False))+"\r\n")

randomForest : 208.95105669270976

linearRegression : 214.54816947563833

In [456]:
lr.fit(x_train, y_train)
pred = lr.predict(x_test)

In [457]:

submission = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/cafeteria/sample_submission.csv', index_col='일자')

#for i in range(0, len(submission)):
#  submission['중식계'][i] = pred[i][0]
#  submission['석식계'][i] = pred[i][1]

pred = pred.reshape(2, 50)

submission['중식계'] = pred[0]
submission['석식계'] = pred[1]

submission.head()

                   중식계          석식계
일자
2021-01-27  803.385566  1163.838132
2021-01-28  277.209684   631.523504
2021-01-29  774.934801  1085.245205
2021-02-01  421.195300   657.931433
2021-02-02  594.186239   829.920285

In [458]:
submission.to_csv('/content/drive/MyDrive/Colab Notebooks/cafeteria/submission.csv', index='일자')