In [31]:
import numpy as np
import pandas as pd
import seaborn as sb

from sklearn.preprocessing import LabelEncoder, StandardScaler, RobustScaler, MinMaxScaler
from sklearn.impute import SimpleImputer

In [486]:
# load data

train = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/HousePrices/train.csv')
test = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/HousePrices/test.csv')
submission = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/HousePrices/sample_submission.csv')

train.set_index('Id', inplace=True)
test.set_index('Id', inplace=True)

In [487]:
# combine train and test data

all_data = pd.concat([train, test], sort=False)
all_data_index = all_data.index

train_y = train['SalePrice']

In [488]:
# find deficient data

na_check = all_data.isna().sum() / len(all_data)
na_check = na_check[na_check > 0.3]
na_check

Alley          0.932169
FireplaceQu    0.486468
PoolQC         0.996574
Fence          0.804385
MiscFeature    0.964029
SalePrice      0.499829
dtype: float64

In [489]:
# analyze NA data

# fill NA of fireplaceQu because these don't have fireplaces
all_data.loc[all_data['FireplaceQu'].isna(), 'Fireplaces'] = 0

# NA of Alley means there is no path
all_data.loc[all_data['Alley'].isna(), 'Alley'] = 'noPath'

# NA of PoolQC means there is no pool
all_data.loc[all_data['PoolQC'].isna(), 'PoolQC'] = 'noPool'

# NA of Fence means there is no fence
all_data.loc[all_data['Fence'].isna(), 'Fence'] = 'noFence'

# NA of MiscFeature means there is no other feature
all_data.loc[all_data['MiscFeature'].isna(), 'MiscFeature'] = 'noFeature'

In [228]:
#all_data = all_data.drop(na_check.keys().drop(['SalePrice']), axis=1)

In [490]:
rating_col = ['ExterQual', 'ExterCond', 'BsmtQual', 'BsmtCond', 'HeatingQC', 'KitchenQual', 'FireplaceQu', 'GarageQual', 'GarageCond', 'PoolQC']

########################################################################

col = 'ExterQual'
ratings = ['Ex', 'Gd', 'TA', 'Fa', 'Po']
score = len(ratings)
all_data[col+'(status)'] = 0
for i in ratings:
  all_data.loc[all_data[col] == i, col+'(status)'] = score
  score -= 1

########################################################################

col = 'ExterCond'
ratings = ['Ex', 'Gd', 'TA', 'Fa', 'Po']
score = len(ratings)
all_data[col+'(status)'] = 0
for i in ratings:
  all_data.loc[all_data[col] == i, col+'(status)'] = score
  score -= 1

########################################################################

col = 'BsmtQual'
ratings = ['Ex', 'Gd', 'TA', 'Fa', 'Po']
score = len(ratings)
all_data[col+'(status)'] = 0
for i in ratings:
  all_data.loc[all_data[col] == i, col+'(status)'] = score
  score -= 1

########################################################################

col = 'BsmtCond'
ratings = ['Ex', 'Gd', 'TA', 'Fa', 'Po']
score = len(ratings)
all_data[col+'(status)'] = 0
for i in ratings:
  all_data.loc[all_data[col] == i, col+'(status)'] = score
  score -= 1

########################################################################

col = 'HeatingQC'
ratings = ['Ex', 'Gd', 'TA', 'Fa', 'Po']
score = len(ratings)
all_data[col+'(status)'] = 0
for i in ratings:
  all_data.loc[all_data[col] == i, col+'(status)'] = score
  score -= 1

########################################################################

col = 'KitchenQual'
ratings = ['Ex', 'Gd', 'TA', 'Fa', 'Po']
score = len(ratings)
all_data[col+'(status)'] = 0
for i in ratings:
  all_data.loc[all_data[col] == i, col+'(status)'] = score
  score -= 1

########################################################################

col = 'FireplaceQu'
ratings = ['Ex', 'Gd', 'TA', 'Fa', 'Po']
score = len(ratings)
all_data[col+'(status)'] = 0
for i in ratings:
  all_data.loc[all_data[col] == i, col+'(status)'] = score
  score -= 1

########################################################################

col = 'GarageQual'
ratings = ['Ex', 'Gd', 'TA', 'Fa', 'Po']
score = len(ratings)
all_data[col+'(status)'] = 0
for i in ratings:
  all_data.loc[all_data[col] == i, col+'(status)'] = score
  score -= 1

########################################################################

col = 'GarageCond'
ratings = ['Ex', 'Gd', 'TA', 'Fa', 'Po']
score = len(ratings)
all_data[col+'(status)'] = 0
for i in ratings:
  all_data.loc[all_data[col] == i, col+'(status)'] = score
  score -= 1

########################################################################

col = 'PoolQC'
ratings = ['Ex', 'Gd', 'TA', 'Fa']
score = len(ratings)
all_data[col+'(status)'] = 0
for i in ratings:
  all_data.loc[all_data[col] == i, col+'(status)'] = score
  score -= 1

########################################################################

all_data = all_data.drop(rating_col, axis=1)

        MSSubClass  LotFrontage  ...  GarageCond(status)  PoolQC(status)
count  2919.000000  2433.000000  ...         2919.000000     2919.000000
mean     57.137718    69.305795  ...            2.808839        0.010277
std      42.517628    23.344905  ...            0.712498        0.186681
min      20.000000    21.000000  ...            0.000000        0.000000
25%      20.000000    59.000000  ...            3.000000        0.000000
50%      50.000000    68.000000  ...            3.000000        0.000000
75%      70.000000    80.000000  ...            3.000000        0.000000
max     190.000000   313.000000  ...            5.000000        4.000000

[8 rows x 47 columns]

In [491]:
# separate object types and non-object types

data_object = all_data.select_dtypes(include='object')
data_nonObject = all_data.select_dtypes(exclude='object')

print(data_object.columns)
print(data_nonObject.columns)

Index(['MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities',
       'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2',
       'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st',
       'Exterior2nd', 'MasVnrType', 'Foundation', 'BsmtExposure',
       'BsmtFinType1', 'BsmtFinType2', 'Heating', 'CentralAir', 'Electrical',
       'Functional', 'GarageType', 'GarageFinish', 'PavedDrive', 'Fence',
       'MiscFeature', 'SaleType', 'SaleCondition'],
      dtype='object')
Index(['MSSubClass', 'LotFrontage', 'LotArea', 'OverallQual', 'OverallCond',
       'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2',
       'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd', 'Fireplaces',
       'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal',
       'MoSold', 'YrSold', 'SalePrice', 'ExterQual(status)',
       'ExterCond(status)', 'BsmtQual(status)', 'BsmtCond(status)',
       'HeatingQC(status)', 'KitchenQual(status)', 'FireplaceQu(status)',
       'GarageQual(status)', 'GarageCond(status)', 'PoolQC(status)'],
      dtype='object')

In [492]:
# one-hot coding

dummy_data = pd.get_dummies(data_object, drop_first=True)
dummy_data.index = all_data_index

In [493]:
impute = SimpleImputer(strategy='most_frequent')

impute.fit(data_nonObject)
data_nonObject_ = impute.transform(data_nonObject)

data_nonObject = pd.DataFrame(data_nonObject_, columns=data_nonObject.columns, index=all_data_index)

In [494]:
scaler = MinMaxScaler()
dump = data_nonObject

scaler.fit(dump)
dump_ = scaler.transform(dump)
dump = pd.DataFrame(dump_, columns=dump.columns, index=data_nonObject.index)
dump['SalePrice'] = data_nonObject['SalePrice']

In [495]:
all_data = pd.merge(dummy_data, dump, right_index=True, left_index=True)

In [505]:
# select reliable data
nTrain = len(train)
train = all_data[:nTrain]
test = all_data[nTrain:]

cormat = train.corr()
df = cormat.index[abs(cormat['SalePrice']) >= 0.1]
train = train[df]
test = test[df.drop('SalePrice')]
all_data = all_data[df]
df

Index(['MSZoning_RL', 'MSZoning_RM', 'Alley_noPath', 'LotShape_IR2',
       'LotShape_Reg', 'LandContour_HLS', 'LotConfig_CulDSac',
       'Neighborhood_BrDale', 'Neighborhood_BrkSide', 'Neighborhood_Edwards',
       ...
       'SalePrice', 'ExterQual(status)', 'BsmtQual(status)',
       'BsmtCond(status)', 'HeatingQC(status)', 'KitchenQual(status)',
       'FireplaceQu(status)', 'GarageQual(status)', 'GarageCond(status)',
       'PoolQC(status)'],
      dtype='object', length=101)

In [501]:
from sklearn.model_selection import train_test_split

train_x = train.drop(['SalePrice'], axis=1)
train_y = np.log1p(train['SalePrice'])

train_x, val_x, train_y, val_y = train_test_split(train_x, train_y, test_size=0.2, shuffle=True)

test_id_idx = test.index

test_x = test

In [502]:
from sklearn.model_selection import GridSearchCV
from xgboost import XGBRegressor

xgb = XGBRegressor(randome_state = 37)

param = {
    'max_depth':[2,3,4],
    'n_estimators':range(550,700,50),
    'colsample_bytree':[0.5,0.7,1],
    'colsample_bylevel':[0.5,0.7,1],
}
grid_search = GridSearchCV(estimator=xgb, param_grid=param, cv=5, 
                           scoring='neg_mean_squared_error',
                           n_jobs=-1)

#print(train_x.dtypes)
#print(train_y.dtypes)

grid_search.fit(train_x, train_y)
print(grid_search.best_params_)
print(grid_search.best_estimator_)

[09:39:30] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
{'colsample_bylevel': 0.5, 'colsample_bytree': 0.7, 'max_depth': 3, 'n_estimators': 650}
XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=0.5,
             colsample_bynode=1, colsample_bytree=0.7, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=650,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             randome_state=37, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
             seed=None, silent=None, subsample=1, verbosity=1)

In [503]:
from sklearn.metrics import mean_squared_error, mean_absolute_error
pred_train = grid_search.predict(train_x)
pred_val = grid_search.predict(val_x)

print('train mae score: ', mean_absolute_error(train_y, pred_train))
print('val mae score:', mean_absolute_error(val_y, pred_val))

#train mae score:  0.014433974714290313
#val mae score: 0.09069824674400735

#train mae score:  0.010851636153666308
#val mae score: 0.01700044946603384

train mae score:  0.026426322418250617
val mae score: 0.09356628187785215

In [504]:
pred = grid_search.predict(test_x)
submission['SalePrice'] = np.expm1(pred)
submission.to_csv('/content/drive/MyDrive/Colab Notebooks/HousePrices/submission.csv', index=False)

In [435]:
submission.head(20)

      Id  SalePrice
0   1461   0.111913
1   1462   0.180602
2   1463   0.209513
3   1464   0.219599
4   1465   0.206173
5   1466   0.200196
6   1467   0.185764
7   1468   0.184841
8   1469   0.198273
9   1470   0.130308
10  1471   0.227044
11  1472   0.087227
12  1473   0.078658
13  1474   0.173751
14  1475   0.124826
15  1476   0.521304
16  1477   0.296120
17  1478   0.364702
18  1479   0.300039
19  1480   0.678247