In [31]:
import numpy as np
import pandas as pd
import seaborn as sb

from sklearn.preprocessing import LabelEncoder, StandardScaler, RobustScaler, MinMaxScaler
from sklearn.impute import SimpleImputer

In [225]:
# load data

train = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/HousePrices/train.csv')
test = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/HousePrices/test.csv')
submission = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/HousePrices/sample_submission.csv')

train.set_index('Id', inplace=True)
test.set_index('Id', inplace=True)

print(len(train))
print(len(test))

1460
1459

In [226]:
# combine train and test data

all_data = pd.concat([train, test], sort=False)
all_data_index = all_data.index

train_y = train['SalePrice']
print(len(all_data))

2919

In [227]:
# remove unreliable data

na_check = all_data.isna().sum() / len(all_data)
na_check = na_check[na_check > 0.3]
na_check

Alley          0.932169
FireplaceQu    0.486468
PoolQC         0.996574
Fence          0.804385
MiscFeature    0.964029
SalePrice      0.499829
dtype: float64

In [228]:
all_data = all_data.drop(na_check.keys().drop(['SalePrice']), axis=1)

In [230]:
# separate object types and non-object types

data_object = all_data.select_dtypes(include='object')
data_nonObject = all_data.select_dtypes(exclude='object')

print(data_object.columns)
print(data_nonObject.columns)

Index(['MSZoning', 'Street', 'LotShape', 'LandContour', 'Utilities',
       'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2',
       'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st',
       'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation',
       'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2',
       'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual',
       'Functional', 'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond',
       'PavedDrive', 'SaleType', 'SaleCondition'],
      dtype='object')
Index(['MSSubClass', 'LotFrontage', 'LotArea', 'OverallQual', 'OverallCond',
       'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2',
       'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd', 'Fireplaces',
       'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal',
       'MoSold', 'YrSold', 'SalePrice'],
      dtype='object')

In [231]:
# one-hot coding

dummy_data = pd.get_dummies(data_object, drop_first=True)
dummy_data.index = all_data_index
dummy_data.describe()

       MSZoning_FV  MSZoning_RH  ...  SaleCondition_Normal  SaleCondition_Partial
count  2919.000000  2919.000000  ...           2919.000000            2919.000000
mean      0.047619     0.008907  ...              0.822885               0.083933
std       0.212995     0.093973  ...              0.381832               0.277335
min       0.000000     0.000000  ...              0.000000               0.000000
25%       0.000000     0.000000  ...              1.000000               0.000000
50%       0.000000     0.000000  ...              1.000000               0.000000
75%       0.000000     0.000000  ...              1.000000               0.000000
max       1.000000     1.000000  ...              1.000000               1.000000

[8 rows x 196 columns]

In [232]:
impute = SimpleImputer(strategy='mean')

impute.fit(data_nonObject)
data_nonObject_ = impute.transform(data_nonObject)

data_nonObject = pd.DataFrame(data_nonObject_, columns=data_nonObject.columns, index=all_data_index)
#data_nonObject.index = all_data_index
data_nonObject.describe()

        MSSubClass  LotFrontage  ...       YrSold      SalePrice
count  2919.000000  2919.000000  ...  2919.000000    2919.000000
mean     57.137718    69.305795  ...  2007.792737  180921.195890
std      42.517628    21.312345  ...     1.314964   56174.332503
min      20.000000    21.000000  ...  2006.000000   34900.000000
25%      20.000000    60.000000  ...  2007.000000  163000.000000
50%      50.000000    69.305795  ...  2008.000000  180921.195890
75%      70.000000    78.000000  ...  2009.000000  180921.195890
max     190.000000   313.000000  ...  2010.000000  755000.000000

[8 rows x 37 columns]

In [234]:
print(len(dummy_data))
print(len(data_nonObject))
print(len(all_data))
all_data = pd.merge(dummy_data, data_nonObject, right_index=True, left_index=True)
all_data.head()
print(dummy_data.columns)
print(data_nonObject.columns)

2919
2919
2919
Index(['MSZoning_FV', 'MSZoning_RH', 'MSZoning_RL', 'MSZoning_RM',
       'Street_Pave', 'LotShape_IR2', 'LotShape_IR3', 'LotShape_Reg',
       'LandContour_HLS', 'LandContour_Low',
       ...
       'SaleType_ConLI', 'SaleType_ConLw', 'SaleType_New', 'SaleType_Oth',
       'SaleType_WD', 'SaleCondition_AdjLand', 'SaleCondition_Alloca',
       'SaleCondition_Family', 'SaleCondition_Normal',
       'SaleCondition_Partial'],
      dtype='object', length=196)
Index(['MSSubClass', 'LotFrontage', 'LotArea', 'OverallQual', 'OverallCond',
       'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2',
       'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd', 'Fireplaces',
       'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal',
       'MoSold', 'YrSold', 'SalePrice'],
      dtype='object')

In [163]:
all_data.describe()

       MSZoning_FV  MSZoning_RH  ...       YrSold      SalePrice
count  5837.000000  5837.000000  ...  5837.000000    2919.000000
mean      0.047627     0.008909  ...  2007.792702  180932.645427
std       0.212994     0.093973  ...     1.314962   79440.092805
min       0.000000     0.000000  ...  2006.000000   34900.000000
25%       0.000000     0.000000  ...  2007.000000  129950.000000
50%       0.000000     0.000000  ...  2008.000000  163000.000000
75%       0.000000     0.000000  ...  2009.000000  214000.000000
max       1.000000     1.000000  ...  2010.000000  755000.000000

[8 rows x 234 columns]

In [235]:
# select reliable data
nTrain = len(train)
train = all_data[:nTrain]
test = all_data[nTrain:]

cormat = train.corr()
df = cormat.index[abs(cormat['SalePrice']) >= 0.3]
train = train[df]
test = test[df.drop('SalePrice')]

In [191]:
print(len(all_data))
print(nTrain)
print(len(train))
print(len(test))

5837
1460
1460
4377

In [236]:
from sklearn.model_selection import train_test_split

train_x = train.drop(['SalePrice'], axis=1)
train_y = train['SalePrice']

train_x, val_x, train_y, val_y = train_test_split(train_x, train_y, test_size=0.2, shuffle=True)

test_id_idx = test.index

test_x = test

In [181]:
train_x.describe()

       OverallQual    YearBuilt  ...   GarageCars   GarageArea
count  1168.000000  1168.000000  ...  1168.000000  1168.000000
mean      6.142979  1972.816781  ...     1.777397   477.926370
std       1.391344    29.919784  ...     0.760036   210.343873
min       2.000000  1880.000000  ...     0.000000     0.000000
25%       5.000000  1955.000000  ...     1.000000   336.000000
50%       6.000000  1976.000000  ...     2.000000   482.000000
75%       7.000000  2002.000000  ...     2.000000   591.250000
max      10.000000  2010.000000  ...     4.000000  1166.000000

[8 rows x 13 columns]

In [241]:
from sklearn.model_selection import GridSearchCV
from xgboost import XGBRegressor

xgb = XGBRegressor()

param = {
    'max_depth':[2,3,4],
    'n_estimators':range(550,700,50),
    'colsample_bytree':[0.5,0.7,1],
    'colsample_bylevel':[0.5,0.7,1],
}
grid_search = GridSearchCV(estimator=xgb, param_grid=param, cv=10, 
                           scoring='neg_mean_squared_error',
                           n_jobs=-1)

#print(train_x.dtypes)
#print(train_y.dtypes)

grid_search.fit(train_x, train_y)
print(grid_search.best_params_)
print(grid_search.best_estimator_)

[06:41:47] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
{'colsample_bylevel': 1, 'colsample_bytree': 1, 'max_depth': 2, 'n_estimators': 600}
XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=2, min_child_weight=1, missing=None, n_estimators=600,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [242]:
from sklearn.metrics import mean_squared_error, mean_absolute_error
pred_train = grid_search.predict(train_x)
pred_val = grid_search.predict(val_x)

print('train mae score: ', mean_absolute_error(train_y, pred_train))
print('val mae score:', mean_absolute_error(val_y, pred_val))

#train mae score:  10568.155270093108
#val mae score: 17147.93216235017

train mae score:  10259.323439506636
val mae score: 17173.29493525257

In [239]:
print(len(submission))
submission.head()

1459

     Id      SalePrice
0  1461  169277.052498
1  1462  187758.393989
2  1463  183583.683570
3  1464  179317.477511
4  1465  150730.079977

In [243]:
pred = grid_search.predict(test_x)
submission['SalePrice'] = pred
submission.to_csv('/content/drive/MyDrive/Colab Notebooks/HousePrices/submission.csv', index=False)