In [20]:
import pandas as pd
train = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/identify_Iris/iris_train.csv", index_col = 'id')
test = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/identify_Iris/iris_test.csv", index_col = 'id')
train.head()
test.head()

      species  sepal length (cm)  petal length (cm)
id
0      setosa                5.4                1.7
1      setosa                5.7                1.5
2      setosa                5.3                1.5
3      setosa                5.1                1.9
4   virginica                6.0                4.8

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [23]:
all_data = pd.concat([train, test], sort=False)

all_data.count()

species              150
sepal length (cm)    150
petal length (cm)    150
sepal width (cm)      75
petal width (cm)      75
dtype: int64

In [5]:
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [7]:
x_col = ['species', 'sepal length (cm)', 'petal length (cm)']
y_col = ['sepal width (cm)', 'petal width (cm)']

In [24]:
le = LabelEncoder()

all_data['species'] = le.fit_transform(all_data['species'])

In [11]:
sc = StandardScaler()

all_data[x_col] = sc.fit_transform(all_data[x_col])

In [12]:
all_data.head()

     species  sepal length (cm)  ...  sepal width (cm)  petal width (cm)
id                               ...
0  -1.224745          -1.748856  ...               2.9               0.2
1   0.000000           0.674501  ...               3.2               1.5
2   1.224745           0.432165  ...               2.8               1.8
3   1.224745           1.643844  ...               3.6               2.5
4  -1.224745          -1.143017  ...               3.0               0.2

[5 rows x 5 columns]

In [28]:
nTrain = len(train)
train = all_data[:nTrain]
test = all_data[nTrain:]

In [39]:
from xgboost import XGBRegressor
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from sklearn.linear_model import LinearRegression, LogisticRegression

from sklearn.tree import DecisionTreeClassifier

from sklearn.metrics import mean_squared_error

In [29]:
x_train = train[x_col]
y_train = train[y_col]
x_test = test[x_col]

In [44]:
xgb = XGBRegressor(random_state=37)
gbr = GradientBoostingRegressor(random_state=37)
rfr = RandomForestRegressor(random_state=37)
lr = LinearRegression()
lgr = LogisticRegression(random_state=37)
dtc = DecisionTreeClassifier(random_state=37)


#models = [xgb, gbr, rfr, lr]
#names = ['xgboost', 'gradientBossting', 'randomForest', 'linearRegression']

models = [rfr, lr, dtc]
names = ['randomForest', 'linearRegression', 'DecisionTreeClassifier']


for m, n in zip(models, names):
  m.fit(x_train, y_train)
  pred = m.predict(x_test)

  leng = len(y_train)
  if leng > len(pred):
    leng = len(pred)

  print(n+" : "+(str)(mean_squared_error(y_train[:leng], pred[:leng], squared=False))+"\r\n")

randomForest : 0.8490460782110847

linearRegression : 0.8314230230129537

ValueError: ignored

In [ ]:
train.corr()

                   sepal length (cm)  ...  petal (rate)
sepal length (cm)           1.000000  ...      0.451606
petal length (cm)           0.864852  ...      0.755078
sepal width (cm)            0.027104  ...     -0.559515
petal width (cm)            0.763597  ...      0.796922
species(status)             0.705445  ...      0.854648
sepal width(ave)           -0.555266  ...     -0.772548
petal width(ave)            0.727051  ...      0.902895
sepal (rate)               -0.918102  ...     -0.670939
petal (rate)                0.451606  ...      1.000000

[9 rows x 9 columns]

In [ ]:
x_col = ['sepal length (cm)', 'petal length (cm)', 'species(status)', 'sepal width(ave)', 'sepal (rate)', 'petal (rate)']
y_col = ['sepal width (cm)', 'petal width (cm)']

x_train = train[x_col]
y_train = train[y_col]

x_test = test[x_col]

In [ ]:
from xgboost import XGBRegressor
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error


xgb = XGBRegressor(random_state=42)
gbr = GradientBoostingRegressor(random_state=42)
rfr = RandomForestRegressor(random_state=42)
lr = LinearRegression()


#model_names = ['XGBRegressor', 'GradientBoostingRegressor', 'RandomForestRegressor', 'LinearRegression']
#models = [xgb, gbr, rfr, lr]
model_names = ['RandomForestRegressor', 'LinearRegression']
models = [rfr, lr]


for ms, mn in zip(models, model_names):
  print(mn)
  ms.fit(x_train, y_train)
  pred = ms.predict(x_test)

  print(mn+" : "+(str)(mean_squared_error(y_train, pred, squared=False))+"\r\n")

RandomForestRegressor
RandomForestRegressor : 0.8372767036494411

LinearRegression
LinearRegression : 0.8496822688189072

In [ ]:
submission = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/identify_Iris/sample_submission.csv", index_col = 'id')

In [ ]:
lr.fit(x_train, y_train)
pred = lr.predict(x_test)

In [ ]:
submission[y_col] = pred

In [ ]:
submission.to_csv("/content/drive/MyDrive/Colab Notebooks/identify_Iris/Iris.csv", index=True)

# New Section