In [5]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler, LabelEncoder

from sklearn.impute import SimpleImputer

In [ ]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_seq_items', None)

In [6]:
train = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/StoreSales/train.csv')
test = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/StoreSales/test.csv')

In [5]:
holidays_events = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/StoreSales/holidays_events.csv')
oil = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/StoreSales/oil.csv')
stores = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/StoreSales/stores.csv')
trandsactions = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/StoreSales/transactions.csv')

In [7]:
train.set_index('id', inplace=True)
test.set_index('id', inplace=True)

In [ ]:
gb = train.groupby(by='store_nbr')
gb2 = trandsactions.groupby(by='store_nbr')
col = train['store_nbr'].unique()
dump = pd.DataFrame()

for i in col:
  all_data_ = gb.get_group(i)
  trandsactions_ = gb2.get_group(i)

  for idx, row in trandsactions_.iterrows():
    all_data_.loc[all_data_['idx'] == row['idx'], 'transactions'] = row['transactions']

  dump = pd.concat([dump, all_data_], sort=False)
  print('■', end=' ')
    
train = dump

In [ ]:
gb = test.groupby(by='store_nbr')
gb2 = trandsactions.groupby(by='store_nbr')
col = test['store_nbr'].unique()
dump = pd.DataFrame()

for i in col:
  all_data_ = gb.get_group(i)
  trandsactions_ = gb2.get_group(i)

  for idx, row in trandsactions_.iterrows():
    all_data_.loc[all_data_['idx'] == row['idx'], 'transactions'] = row['transactions']

  dump = pd.concat([dump, all_data_], sort=False)
  print('■', end=' ')
    
test = dump

In [ ]:
all_data = pd.concat([train, test], sort=False)

In [ ]:
all_data.head()

          date  store_nbr      family  sales  onpromotion
id
0   2013-01-01          1  AUTOMOTIVE    0.0          0.0
1   2013-01-01          1   BABY CARE    0.0          0.0
2   2013-01-01          1      BEAUTY    0.0          0.0
3   2013-01-01          1   BEVERAGES    0.0          0.0
4   2013-01-01          1       BOOKS    0.0          0.0

In [ ]:
# distinguish holiday and it takes around 1min

all_data['isHoliday'] = False

for i in range(0, len(holidays_events)):
  all_data.loc[all_data['date'] == holidays_events['date'][i], 'isHoliday'] = True

In [ ]:
# There is no NA data

na_check = all_data.isna().sum() / len(all_data)
na_check = na_check[na_check >= 0.0]
na_check

date           0.000000
store_nbr      0.000000
family         0.000000
sales          0.009412
onpromotion    0.000000
isHoliday      0.000000
dtype: float64

In [ ]:
na_check = oil.isna().sum() / len(oil)
na_check

date          0.000000
dcoilwtico    0.035304
dtype: float64

In [ ]:
oil['dcoilwtico'][0] = oil['dcoilwtico'][1]

for i in range(0, len(oil)):
  if pd.isna(oil['dcoilwtico'][i]) and i > 0:
    oil['dcoilwtico'][i] = oil['dcoilwtico'][i-1]

na_check = oil.isna().sum() / len(oil)
na_check

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

date          0.0
dcoilwtico    0.0
dtype: float64

In [ ]:
# it takes around 4mins

all_data['oil_price'] = 0

for i in range(0, len(oil)):
  dt = oil['date'][i]
  price = oil['dcoilwtico'][i]

  all_data.loc[all_data['date'] == dt, 'oil_price'] = price

In [ ]:
# it takes around 10mins

array = []

array = pd.DataFrame(array)

col1 = all_data['date'].unique()
col2 = all_data['store_nbr'].unique()

for i in col2:
  for j in col1:
    col_n = j+' '+(str)(i)
    array[col_n] = 0

In [ ]:
for idx, row in trandsactions.iterrows():
  trandsactions['idx'][idx] = trandsactions['date'][idx]+' '+(str)(trandsactions['store_nbr'][idx])
trandsactions.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
trandsactions.head()

In [ ]:
for idx, row in all_data.iterrows():
  tmp = all_data['date'][idx]+' '+(str)(all_data['store_nbr'][idx])
  
  all_data['trandsactions'][idx] = trandsactions.loc[trandsactions['idx'] == tmp, 'transactions']

all_data.head()

KeyError: ignored

In [ ]:
for idx, row in trandsactions.iterrows():
  all_data.loc[all_data['idx'] == trandsactions['idx'][idx], 'trandsactions'] =

In [ ]:
all_data.isna().sum() / len(all_data)

id              0.000000
date            0.000000
store_nbr       0.000000
family          0.000000
sales           0.009412
onpromotion     0.000000
isHoliday       0.000000
oil_price       0.000000
transactions    1.000000
year            0.000000
month           0.000000
day             0.000000
date_           0.000000
idx             0.000000
dtype: float64

In [ ]:
all_data.head()

   id        date  store_nbr      family  ...  month  day     date_           idx
0   0  2013-01-01          1  AUTOMOTIVE  ...      1    1  20130101  2013-01-01 1
1   1  2013-01-01          1   BABY CARE  ...      1    1  20130101  2013-01-01 1
2   2  2013-01-01          1      BEAUTY  ...      1    1  20130101  2013-01-01 1
3   3  2013-01-01          1   BEVERAGES  ...      1    1  20130101  2013-01-01 1
4   4  2013-01-01          1       BOOKS  ...      1    1  20130101  2013-01-01 1

[5 rows x 14 columns]

In [ ]:
trandsactions.head()

         date  store_nbr  transactions            idx
0  2013-01-01         25           770  2013-01-01 25
1  2013-01-02          1          2111   2013-01-02 1
2  2013-01-02          2          2358   2013-01-02 2
3  2013-01-02          3          3487   2013-01-02 3
4  2013-01-02          4          1922   2013-01-02 4

In [ ]:
all_data['transactions'] = 0

In [ ]:
gb = train.groupby(by='store_nbr')
gb2 = trandsactions.groupby(by='store_nbr')
col = all_data['store_nbr'].unique()
dump = pd.DataFrame()

for i in col:
  all_data_ = gb.get_group(i)
  trandsactions_ = gb2.get_group(i)

  for idx, row in trandsactions_.iterrows():
    all_data_.loc[all_data_['idx'] == row['idx'], 'transactions'] = row['transactions']

  dump = pd.concat([dump, all_data_], sort=False)
  print('■', end=' ')
    
dump.head()

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■ ■

   id        date  store_nbr      family  ...  month  day     date_           idx
0   0  2013-01-01          1  AUTOMOTIVE  ...      1    1  20130101  2013-01-01 1
1   1  2013-01-01          1   BABY CARE  ...      1    1  20130101  2013-01-01 1
2   2  2013-01-01          1      BEAUTY  ...      1    1  20130101  2013-01-01 1
3   3  2013-01-01          1   BEVERAGES  ...      1    1  20130101  2013-01-01 1
4   4  2013-01-01          1       BOOKS  ...      1    1  20130101  2013-01-01 1

[5 rows x 14 columns]

In [ ]:
all_data = dump

In [ ]:
oil.head()

         date  dcoilwtico
0  2013-01-01         NaN
1  2013-01-02       93.14
2  2013-01-03       92.97
3  2013-01-04       93.12
4  2013-01-07       93.20

In [ ]:
array.shape

(0, 91800)

In [ ]:
all_data['year'] = pd.to_numeric(all_data['date'].str[:4])
all_data['month'] = pd.to_numeric(all_data['date'].str[5:7])
all_data['day'] = pd.to_numeric(all_data['date'].str[8:10])

all_data['date_'] = (all_data['year']*10000) + (all_data['month']*100) + all_data['day']

In [ ]:
save_point = all_data
save_point.to_csv('/content/drive/MyDrive/Colab Notebooks/StoreSales/save_point.csv')

In [8]:
save_point = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/StoreSales/save_point.csv')

In [9]:
all_data = save_point

In [ ]:
all_data['transactions'].unique()

array([1, 0])

In [9]:
# separate object data and non-object data

data_object = all_data.select_dtypes(include=object)
data_non_object = all_data.select_dtypes(exclude=object)

print(data_object.columns)
print(data_non_object.columns)

Index(['date', 'family', 'idx'], dtype='object')
Index(['Unnamed: 0', 'id', 'store_nbr', 'sales', 'onpromotion', 'isHoliday',
       'oil_price', 'transactions', 'year', 'month', 'day', 'date_'],
      dtype='object')

In [ ]:
all_data_index = all_data.index

dummy_data = pd.get_dummies(data_object.drop(['date'], axis=1), drop_first=True)
dummy_data.index = all_data_index

In [1]:
all_data = pd.merge(dummy_data, data_non_object, right_index=True, left_index=True)

NameError: ignored

In [22]:
nTrain = len(train)
train = all_data[:nTrain]
test = all_data[nTrain:]

all_data.head()

   Unnamed: 0  id        date  store_nbr  ... month  day     date_           idx
0           0   0  2013-01-01          1  ...     1    1  20130101  2013-01-01 1
1           1   1  2013-01-01          1  ...     1    1  20130101  2013-01-01 1
2           2   2  2013-01-01          1  ...     1    1  20130101  2013-01-01 1
3           3   3  2013-01-01          1  ...     1    1  20130101  2013-01-01 1
4           4   4  2013-01-01          1  ...     1    1  20130101  2013-01-01 1

[5 rows x 15 columns]

In [32]:
col_x = ['id', 'store_nbr', 'sales',
       'onpromotion', 'isHoliday', 'oil_price', 'transactions', 'year',
       'month', 'day', 'date_']
col_y = 'sales'

col_x

['id',
 'store_nbr',
 'sales',
 'onpromotion',
 'isHoliday',
 'oil_price',
 'transactions',
 'year',
 'month',
 'day',
 'date_']

In [12]:
cormat = train.corr()

dump = cormat.index[abs(cormat['sales']) >= 0.1]
dump

Index(['sales', 'onpromotion'], dtype='object')

In [36]:
from sklearn.model_selection import train_test_split

train_x = train[col_x]
train_y = np.log1p(train['sales'])

train_x, val_x, train_y, val_y = train_test_split(train_x, train_y, test_size=0.2, shuffle=True)

test_id_idx = test.index

test_x = test[col_x]

In [34]:
from sklearn.model_selection import GridSearchCV
from xgboost import XGBRegressor

xgb = XGBRegressor(randome_state = 37)
xgb.fit(train_x, train_y)
#train_x.dtypes

[10:09:09] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

id                int64
store_nbr         int64
sales           float64
onpromotion     float64
isHoliday          bool
oil_price       float64
transactions      int64
year              int64
month             int64
day               int64
date_             int64
dtype: object

In [14]:
param = {
    'max_depth':[2,3,4],
    'n_estimators':range(550,700,50),
    'colsample_bytree':[0.5,0.7,1],
    'colsample_bylevel':[0.5,0.7,1],
}
grid_search = GridSearchCV(estimator=xgb, param_grid=param, cv=2, 
                           scoring='neg_mean_squared_error',
                           n_jobs=-1)

#print(train_x.dtypes)
#print(train_y.dtypes)

grid_search.fit(train_x, train_y)
print(grid_search.best_params_)
print(grid_search.best_estimator_)

KeyboardInterrupt: ignored

In [37]:
from sklearn.metrics import mean_squared_error, mean_absolute_error
pred_train = xgb.predict(train_x)
pred_val = xgb.predict(val_x)

print('train mae score: ', mean_absolute_error(train_y, pred_train))
print('val mae score:', mean_absolute_error(val_y, pred_val))

# train mae score:  0.7586943958044394
# val mae score: 0.942235584465081
# real score : 2.37214

# train mae score:  0.466127593673133
# val mae score: 0.5367417374485141
# real score : 2.47333

ValueError: ignored

In [38]:
#xgb.fit(train_x, train_y)
pred = xgb.predict(test_x)

In [39]:
submission = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/StoreSales/sample_submission.csv')

In [40]:
#pred = grid_search.predict(test_x)
submission['sales'] = np.expm1(pred)
submission.to_csv('/content/drive/MyDrive/Colab Notebooks/StoreSales/submission.csv', index=False)