In [4]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler, LabelEncoder

In [34]:
train = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/StoreSales/train.csv')
test = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/StoreSales/test.csv')
holidays_events = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/StoreSales/holidays_events.csv')
oil = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/StoreSales/oil.csv')
stores = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/StoreSales/stores.csv')
trandsactions = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/StoreSales/transactions.csv')

In [35]:
stores['predict_sales'] = 0

In [36]:
#train['city'] = None

for i in range(0, len(stores)):
  sum = train.loc[train['store_nbr'] == stores['store_nbr'][i], 'sales'].sum()
  count = train.loc[train['store_nbr'] == stores['store_nbr'][i], 'sales'].count()
  stores.loc[stores['store_nbr'] == stores['store_nbr'][i], 'predict_sales'] = sum / count
  #print(sum)
      
stores.head()

   store_nbr           city  ... cluster predict_sales
0          1          Quito  ...      13    254.534889
1          2          Quito  ...      13    387.918172
2          3          Quito  ...       8    908.405495
3          4          Quito  ...       9    340.273886
4          5  Santo Domingo  ...       4    280.580231

[5 rows x 6 columns]

In [42]:
train.loc[train['sales'] == 0, 'sales'].count() / train['sales'].count()

0.3129506999261552